<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>빛과소금 - 교회</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Bulma Version 0.7.1-->
		{% load static %}  
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>  
        <script src="{% static 'js/vue/vue.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<style>
		  html,body {
		    font-family: 'Malgun Gothic','Nanum Gothic','Nanum GothicB', 'Open Sans', serif;
		    background: #FFFFFF;
		  }
		  .columns {
			margin-top: 0;
		  }
		  section.column {
			padding: 1rem;
			font-size: 0.95rem;
		  }
		  .sidebar-header-single {
			color: #000;
			font-weight: 100;
			font-size: 0.95rem;
			border-left: 4px solid #ff0083;
			padding-left: 0.75rem;
		  }
          .menu-label {
		    padding: 0rem;
			font-size: 0.9rem;
		  }
		</style>
		
	</head>
	<body>
     <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    하늘 교회
                </h1>
                <h2 class="subtitle">
                    평화가 함께하는 온라인 교회
                </h2>
            </div>
        </div>
    </section>
    
	<div class="columns is-3">				
	  <section class="column">
		<div class="tile is-ancestor">
			<div class="tile is-vertical is-10">
				<div class="tile">
					<div class="tile is-4 is-parent is-vertical">
					  <div class="column is-12">
						<div class="card">
						      <header class="card-header notification is-link">
						        <p class="card-header-title">
							   <font color="white">{{ boardTitle.0 }}</font>
                                                                       </p>
                                                                       <a href="{% url 'mychurch:board_list' board_no=boardNo.0 %}" class="card-header-icon" aria-label="more options">
						          <span class="icon">
							    <i class="fa fa-angle-down" aria-hidden="true"></i>
						          </span>
						    </a>
	                                                         </header>
						   <table cellspacing=3 class="table is-striped is-fullwidth is-hoverable">
							  <tbody>
							  {% if noticeList %}
							    {% for row in noticeList %}
							      <tr>
								    <td>{{ row.create_time|date:"Y-m-d" }}</td>
								    <td><a href="{% url 'mychurch:board_view' board_no=boardNo.0 board_content_no=row.board_content_no %}">{{ row.subject }}</a><td>
								  </tr>
								{% endfor %}
								 
							  {% else %}
								  <tr>
								    <td colspan=2 align="center">No Data<td>
								  </tr>
							  {% endif %}
							  
							  </tbody>
							</table>
						</div>
					  </div>	
	                  <div class="column is-12">
						<div class="card">
							<header class="card-header notification is-link">
                                <p class="card-header-title ">
                                    <font color="white">{{ boardTitle.1 }}</font>
                                </p>
                                <a href="{% url 'mychurch:board_list' board_no=boardNo.1 %}" class="card-header-icon" aria-label="more options">
								  <span class="icon">
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								  </span>
								</a>
                             </header>
							 <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped is-hoverable">
                                        <tbody>
										{% if counselList %}
										  {% for row in counselList %}
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td><a href="{% url 'mychurch:board_view' board_no=boardNo.1 board_content_no=row.board_content_no %}">{{ row.subject }}</td>    
                                            </tr>
										  {% endfor %}	
										{% else %}
											<tr>
											    <td colspan=2 align="center">No Data<td>
											</tr>
										 {% endif %}
                                                                                                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
						</div>
					  </div> 
					</div>
					<div class="tile is-parent is-8">
						<article class="tile is-child notification">
							<figure class="image is-4by3">
								<img src="https://bulma.io/images/placeholders/640x480.png" >
							</figure>
						</article>
					</div>
				</div>
			  <div class="tile is-ancestor">
			  {% if imgList %}
				{% for row in imgList %}
				<div class="tile is-parent">
					<article class="tile is-child box">
                        <figure ><a href="{% url 'mychurch:board_view' board_no=boardNo.2 board_content_no=row.board_content_no %}">
                            <img src="{{ row.path }}" width="150" height="180" border=0>
                        </figure>
                        <p class="subtitle">{{ row.subject }}</p></a>
                        <div class="content is-8">{{ row.create_time|date:"Y-m-d h:i:s" }}</div>
                    </article>
				</div>
				{% endfor %}
			  {% else %}
				    <div class="tile is-parent">
					    <article class="tile is-child box">
						    <p class="subtitle">No Data</p>
						</article>
					</div>
			  {% endif %}
				
				
			  </div>
			</div>
			<div class="tile is-2 is-parent">
			
				<div class="card-wrapper">
					<div class="card">
					<header class="card-header-fix-center has-text-centered notification is-danger">
					  <p class="card-header-title-fix">
						About
					  </p>
					</header>
					<div class="card-content">
					  <div class="content">
						<div class="sidebar-header-single">홍길동(장로) </div><br>
					    <ul>
						<li>현재 접속자수 : 100명</li>
						<li>전체 교인수 : 356명</li>
						</ul>
						<a class="button is-dark">회원정보</a>&nbsp;<a class="button is-focused">관리자</a>
					  </div>
					</div>
					
				</div>
				<br>
			    <div class="card-wrapper">
				  	<div class="card">						
						{% load mychurch_tags %}
					    {% side_menu %}	
				
					</div>
		        </div>
			</div>
		</div>
      </section>
	
	
	</div>
	
		
	<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
								  
								  <a class="tag is-link" href="#">
								    <span class="icon">
								      <i class="fas fa-home"></i>
								    </span>
								    빛과소금
								  </a>
								  <span class="tag is-light">연락처 : 02-xxxx-xxxx </span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-light">인천시 서구 봉화로 60-17 &nbsp;</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>