html,body {
  font-family: 'Malgun Gothic','Nanum Gothic','Nanum GothicB', 'Open Sans', serif;
}
footer {
  background-color: #424242 !important;
}
.topNav {
  border-top: 5px solid #424242;
}
.topNav .container {
  border-bottom: 1px solid #1C1C1C;
}
.container .columns {
  margin: 3rem 0;
}
.navbar-menu .navbar-item {
  padding: 0 1rem;
  font-weight: bold;
}
div.navbar-start {
  margin-left: 400px;
}
aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}
.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}

/* main, sub-video style */
div.main {
    width: 100%;
    background-color: #424242;
    float: left;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

div.column {
    float: left;
    width: 50%;
    padding-bottom: 50px;
}

div.church-video {
    text-align: center;
}

div.church-info {
    text-align: center;
}

video.main {
    width: 480px;
    height: 320px;
    background-color: #000000;
    background-size: cover;
}

p.church-name {
    font-size: 22px;
    font-weight: 600;
    color: #E6E6E6;    
}

p.church-comment {
    color: #FFFFFF;
    padding-left: 5px;
}


