html,body {
  font-family: 'Malgun Gothic','Nanum Gothic','Nanum GothicB', 'Open Sans', serif;
}
footer {
  background-color: #FFFFFF !important;
  margin-top: 150px;
}
.topNav {
  border-top: 5px solid #424242;
}
.topNav .container {
  border-bottom: 1px solid #1C1C1C;
}
.container .columns {
  margin: 3rem 0;
}
.navbar-menu .navbar-item {
  padding: 0 1rem;
  font-weight: bold;
}
div.navbar-start {
  margin-left: 400px;
}
aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}
.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}

/* main, sub-video style */
div.main {
    width: auto;
    height: 420px;
    background-color: #424242;
    background-position: top;
}

video.main {
    width: 700px;
    height: 420px;
    margin: auto;
    background-color: #000000;
    background-image: url(/static/img/woman_pray.jpg);
    background-size: cover;
}

div.main-video {
    width: 1000px;
    height: 420px;
    margin: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

div.church-info {
    width: 280px;
    height: 420px;
    margin-top: 15px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}

p.church-name {
    width: 280px;
    height: 60px;
    font-size: 22px;
    font-weight: 600;
    color: #E6E6E6;
    display: flex;
    align-items: center;
}

p.church-comment {
    color: #FFFFFF;
    padding-left: 5px;
}


