html,body {
  font-family: 'Malgun Gothic','Nanum Gothic','Nanum GothicB', 'Open Sans', serif;
  height: 100%;
}


div.live-content {
    width: 300px;
    height: 100%;
    margin: 0px auto;
    background-color: #424242;
    position: static;
    float: left;
}

div.live-list {
    width: 90%;
    height: auto;
    background-color: #1C1C1C;
    margin: auto;
    margin-top: 10px;
}

p.live-list {
    font-size: 22px; 
    font-weight: bold;
    color: #FFFFFF; 
    padding-left: 25px; 
    padding-top: 15px;
}

img.pastor-list {
    padding: 10px;
}

p.pastor-list {
    font-size: 20px;
    padding-top: 10px;
    color: #FFFFFF;
    display: flex;
}

p.pastor-church {
    font-size: 15px;
    padding-top: 5px;
    color: #A4A4A4;
    display: flex;
}

div.live-chat {
    width: 300px;
    height: 100%;
    background-color: #A4A4A4;
    position: static;
    float: right;
}

textarea {
    font-size: 18px;
}

#form {
    margin:0 auto;
    padding:10;
}

#chat-log {
    text-align: left;
    height: 90%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5px;
    background: #FFFFFF;
    border:2px solid #CEE3F6;
    overflow: auto;
}

#chat-message-input {
    width:95%;
    height:10%;
    margin-left: 2.5%;
    border:2px solid #CEE3F6; 
    overflow: auto;
    line-height: inherit;
}
  
#chat-message-submit { 
    width: 60px;
    margin-left: 2.5%;
}

div.live-main {
    width: 800px;
    height: 700px;
    margin: auto;
}

video.live-video {
    width: 800px;
    height: 480px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #000000;
}

p.live-church-pastor {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    display: flex;
}

p.live-pastor-comment {
    font-size: 15px;
    color: #000000;
    display: flex;
    margin-top: 10px;
}
