{% extends "account/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"  />
{{ form.media }}
{% endblock %}

{% block title %}{% trans 'Light And Salt Sign up' %}{% endblock %}
{% block branding %}<h1>{% trans 'Light And Salt' %}</h1>{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="button is-link">Sign up</button>
  </form>
{% endblock %}