{% load i18n static %}<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}빛과소금 - 교회{% endblock %}</title>
  
  <!-- Bulma Version 0.7.1-->
  {% load static %}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/vue/vue.min.js' %}"></script>
  <script src="{% static 'js/bulma/bulma-carousel.js' %}"></script>
  <script src="{% static 'js/bulma/bulma-carousel.min.js' %}"></script>

  {% block extrastyle %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bulma-extensions.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bulma-carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/light_salt.css' %}" />
  {% endblock %}  
</head>

<body>
  <nav class="navbar is-black topNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <font size="6" face="verdana" color="#FFFFFF" style="font-weight:bold">Light<img src={% static "img/light.jpg" %} width="60px" height="auto">Salt</font>
        </a>
        <div class="navbar-burger burger" data-target="topNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">HOME</a>
          <a class="navbar-item" href="../media">MEDIA</a>
          <a class="navbar-item" href="instaAlbum.html">MY CHURCH</a>
          <a class="navbar-item" href="search.html">SEARCH</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              {% if user.is_authenticated %}
              <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link waves-effect waves-light" >
                      <i class="fa fa-user-circle fa-fw" style="font-size:25px;"></i>
                    {{ user.get_username }}
                  </a>
                  <div class="navbar-dropdown" data-style="width: 18rem">
                    <a href="/account/settings/user-information" class="navbar-item waves-effect waves-light">
                      <i class="fa fa-cog"></i>&nbsp;
                      설정
                    </a>
                    <a href="/accounts/password/change/" class="navbar-item waves-effect waves-light">
                      <i class="fa fa-credit-card"></i>&nbsp;
                      결제
                    </a>
                    <hr class="navbar-divider">
                    <a href="/auth/logout" class="navbar-item waves-effect waves-light">
                      <i class="fa fa-sign-out fa-2"></i>&nbsp;
                      Log out
                    </a>
                  </div>
                </div>
            </div>
              {% else %}
              <p class="control">
                <a class="button is-small" a href="/account/sign-up">
                  <span class="icon">
                    <i class="fa fa-user-plus"></i>
                  </span>
                  <span>
                    Register
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-small is-info is-outlined" a href="/account/sign-in">
                  <span class="icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <span>Login</span>
                </a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </nav>


  <div class="main">
            {% block content %}
            <div class="column">
                <div class="church-video">
                    <video id="video" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name" class="church-name"></p>
                </div>
            </div>
            
            <div class="column">
                <div class="church-video">
                    <video id="video2" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name2" class="church-name"></p>
                </div>
            </div>
            
            <div class="column">
                <div class="church-video">
                    <video id="video3" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name3" class="church-name"></p>
                </div>
            </div>
            
            <div class="column">
                <div class="church-video">
                    <video id="video4" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name4" class="church-name"></p>
                </div>
            </div>
            
            <div class="column">
                <div class="church-video">
                    <video id="video5" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name5" class="church-name"></p>
                </div>
            </div>
            
            <div class="column">
                <div class="church-video">
                    <video id="video6" class="main" controls preload="none">
                    </video>
                </div>
                
                <div class="church-info">
                    <p id="church-name6" class="church-name"></p>
                </div>
            </div>
            

            <script>
                /* media setting */
                var server_address = '{{video_info}}';
                server_address = server_address.replace(/&quot;/g, "\"");

                var json_server_address = JSON.parse(server_address);
                var server_address_list = new Array();

                for(var i in json_server_address)
                    server_address_list[i] = json_server_address[i].fields.server_address;

                /* church info */
                var church_info = '{{church_info}}';
                church_info = church_info.replace(/&quot;/g, "\"");
                var json_church_info = JSON.parse(church_info);
               
                var video_list = document.querySelectorAll('video')
                
                for(var j=0 ; j<video_list.length ; j++)
                    video_list[j].style.backgroundImage = "url(static/" + json_church_info[j].fields.church_photo + ")";
                
                var church_name_list = document.querySelectorAll('.church-name')
                for(var k=0 ; k<church_name_list.length ; k++)
                    church_name_list[k].innerHTML = "[" + json_church_info[k].fields.church_name + "] " + json_church_info[k].fields.pastor_id;
                
            </script>
            {% endblock content %}
            
            <br clear=left>
            <br>
            <br>
            <p style="cursor:pointer; color: #FFFFFF; font-size: 25px;">View all movie -></p>
        </div>


  <br clear=left>
  {% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="columns is-mobile is-centered">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <a class="tag is-link" href="#">빛과소금</a>
                <span class="tag is-light">Copyright ⓒ 빛과소금(주) 02-xxxx-xxxx </span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-light">서울시 영등포구 여의도동 &nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

  <script async type="text/javascript" src="{% static 'js/bulma/bulma.js' %}"></script>
</body>

</html>
