
	
{% extends 'mychurch/board/base.html' %}

{% block content %}	
    
		<div class="tile is-8 is-vertical">	
			<div class="card">
				<div class="card-content">
				    <br><br>
				<form action="{% url 'mychurch:board_view' board_no=board_no board_content_no=board_content_no %}" method="get" name="frm">
				    {% csrf_token %}
					<input type="hidden" name="board_no" value="{{ board_no }}">
					<input type="hidden" name="board_content_no" value="{{ board_content_no }}">
					<input type="hidden" name="page" value="{{ page }}">
				    <b><small>{{ error_message }}</small></b><br>
					<div class="fieldWrapper">
						<label for="id_password">비밀번호:</label>
						<input type="password" value="" name="password_in" id="id_password_in" />
						&nbsp;&nbsp;<a href="javascript:_submit()" class="button is-link is-active">확인</a>
					</div>
				</form>
                </div>				
			</div>				
		</div>
<script>
  
  function _submit()
  {
    f = document.frm
	if( f.password_in.value == "") {
	    alert("비밀번호를 입력하세요");
		return;
	}

	f.submit();
  }

</script>		

{% endblock content %}    