          <p class="menu-label"> 관리자</p>
	<ul class="menu-list">
                   <li>
		  <a href="#" class="is-active" aria-expanded="false"><span class="icon is-small"><i class="fa fa-tachometer"></i></span>
                           기본 정보</a> <!---->
	        </li>
	        <li>
		   <a href="{% url 'mychurch:mymembers' church_no=church_no %}" class="" aria-expanded="false"><span class="icon is-small"><i class="fa fa-rocket"></i></span>
                           교인 정보</a> <!---->
                   </li>
	       <li>
		    <a href="#" class="" aria-expanded="false"><span class="icon is-small"><i class="fa fa-rocket"></i></span>
                            Media </a> <!---->
                  </li>		   
                  <li>
	           <a href="{% url 'mychurch:myboards' church_no=church_no %}" class="" aria-expanded="false"><span class="icon is-small"><i class="fa fa-bar-chart-o"></i></span>
                          게시판 관리</a>
                            <!-- <span class="icon is-small is-angle"><i class="fa fa-angle-down"></i></span></a>
		             <ul data-v-43331adf="" class="collapse" style="height: 0px; display: none;">
			       <li><a href="#/charts/chartist" class=""> Chartist  </a></li>
			      <li><a href="#/charts/chartjs" class=""> Chartjs </a></li>
			      <li><a href="#/charts/peity" class=""> Peity </a></li>
			      <li><a href="#/charts/plotly" class=""> Plotly </a></li>
		             </ul>-->
	       </li>
	       <li>
	           <a><span class="icon is-small"><i class="fa fa-laptop"></i></span>
                           메뉴 관리</a>
                           <!--    <span class="icon is-small is-angle"><i class="fa fa-angle-down"></i></span></a> 
			    <ul data-v-43331adf="" style="height: 0px; display: none;" class="collapse">
				<li><a href="#/buttons" class=""> Buttons </a></li>
				<li><a href="#/form" class=""> Form </a></li>
				<li><a href="#/typography" class="">Typography </a></li>
				<li><a href="#/icons" class=""> Icons </a></li>
			     </ul>-->
	        </li>
	        <li>
		    <a href="#" class="" aria-expanded="false"><span class="icon is-small"><i class="fa fa-rocket"></i></span>
                              Layout 관리 </a> <!---->
                   </li>
	   </ul>